* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* START CODING BELOW */

#background{
    background: url("header-background.jpg") no-repeat center center fixed;
   -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
   background-size: cover;
   height: 600px;

   top: 10;
   bottom:0;
   right :0;
   left:0;
   z-index: -1; 
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
     filter: alpha(opacity=50);
}
   
.image-text{
    font-size: 50px;
    color: #2898ed;
    font-weight: bold;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: white;

}
.text{ 
    font-size: 25px;
    color: blue;
    
}
li a {
    display: block;
    color:blue;
	font-size: 20px;
   padding: 8px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #555;
    color: white;
}
th {
   
    height: 300px;
    border-radius: 25px;
    border: 2px solid grey;
    padding: 20px; 
    width: 200px;
   
    float: left;
    margin: 20px;
    
}



.flex {
  display: flex;
}
#map {
  flex: 1;
  height: 100px;
  width : 50px;
 color: white;
}
#info_table {
  flex: 5;
}
.ph {
    border: 1px solid black;
     
}